<div class="property-cards-heading">
  <p>Some Basic Property Services</p>
</div>
<div class="card-container">
    <mat-card class="card">
      <mat-card-header>
        <img src="../../assets/packing.png"  height="300px" width="300px" class="img1">
      </mat-card-header>
     <mat-card-header>
        <mat-card-title>Packers and Movers</mat-card-title>
        <mat-card-subtitle>Home shifting and vehicle shifting at Guaranteed lowest prices<br></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- <a href="https://www.nobroker.in/packers-and-movers-in-bangalore?relocationType=INTRA_CITY">Link for reference</a> -->
        <a href="https://www.google.com/search?q=packers+and+movers&sca_esv=558667304&sxsrf=AB5stBgG7qmvZ_Ph2NVDuHEF3mjj-IiQkg%3A1692596490934&ei=CvniZP23OIWb4-EP0ryy2Ag&ved=0ahUKEwj95Nukhe2AAxWFzTgGHVKeDIsQ4dUDCA8&uact=5&oq=packers+and+movers&gs_lp=Egxnd3Mtd2l6LXNlcnAiEnBhY2tlcnMgYW5kIG1vdmVyczIHECMYigUYJzIHEAAYigUYQzIOEAAYgAQYsQMYgwEYyQMyCBAAGIAEGJIDMgoQABiABBgUGIcCMgUQABiABDIHEAAYigUYQzIFEAAYgAQyBRAAGIAEMgUQABiABEjVDVDbBViyCXABeAGQAQCYAXegAeIBqgEDMC4yuAEDyAEA-AEBwgINEAAYRxjWBBjJAxiwA8ICChAAGEcY1gQYsAPCAg0QABiKBRiSAxiwAxhDwgILEAAYigUYkgMYsAPCAgoQABiKBRiwAxhDwgIOEAAY5AIY1gQYsAPYAQHCAhYQLhiKBRjHARivARjIAxiwAxhD2AECwgIIEAAYgAQYyQPiAwQYACBBiAYBkAYRugYGCAEQARgJugYGCAIQARgI&sclient=gws-wiz-serp">Link for reference</a>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card">
        <mat-card-header>
          <img src="../../assets/loan.png" height="300px" width="300px" class="img2">
        </mat-card-header>
        <mat-card-header>
          <mat-card-title>Best Home Loan Deals</mat-card-title>
          <mat-card-subtitle>Compare and choose from various banks to get the best home loan deals.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- <a href="https://groww.in/blog/best-home-loan-in-india">Link for reference</a> -->
          <a href="https://en.wikipedia.org/w/index.php?search=home+loans&title=Special:Search&profile=advanced&fulltext=1&ns0=1">Link for reference</a>
        </mat-card-content>
    </mat-card>
  
      <mat-card class="card">
        <mat-card-header>
          <img src="../../assets/legal.png"  height="300px" width="300px" class="img3">
        </mat-card-header>
        <mat-card-header>
          <mat-card-title>Legal Services</mat-card-title>
          <mat-card-subtitle>Get expert legal advices for all property related matters.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a href="https://en.wikipedia.org/wiki/Property_law">Link for reference</a>
        </mat-card-content>
      </mat-card>

  </div>
  
  <app-feedback></app-feedback>