
<div class="dashboard-container">
    <div class="dashboard-content">
        <div class="text-container">
            <h1>Your</h1>
            <h1>Search</h1>
            <h1>Starts Here</h1>
            <input [(ngModel)]="searchTerm" class="search-box" type="text" placeholder="Search..">
            <div>
             <button mat-raised-button class="search-button" (click)="onSearch()">Search</button>
            </div>
        </div>
        <div class="image-container">
        <img src="../../assets/Apartment rent-pana.svg" alt="Illustration" width="800" length="60"/>
        </div>
    </div>
    <app-propertycards></app-propertycards>
</div>
