
<div class="property-cards-heading">
  <p>Popular Properties</p>
</div>

<div class="card-container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Apartments</mat-card-title>
        <mat-card-subtitle>Godrej Retreat</mat-card-subtitle>
        <mat-card-subtitle class="icon"><i class="fa-solid fa-location-dot"></i>Sarjapure Road,Bangalore</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="../../assets/apartment.png" alt="Apartment" height="300px" width="300px">
      </mat-card-content>
      <mat-card-content>
        <br>52 L to 1.15 Cr<br>
        1,2,3 BHK Flats<br>
        424 Sq.Ft
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openApartments()">Explore >></button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Houses</mat-card-title>
        <mat-card-subtitle>27 ParkAvenue</mat-card-subtitle>
        <mat-card-subtitle class="icon"><i class="fa-solid fa-location-dot"></i>NRI Layout, Bangalore</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="../../assets/house.png" alt="House" height="300px" width="300px">
      </mat-card-content>
      <mat-card-content>
      <br>20 to 30 L<br>
      4 BHK<br>
      2850 Sq.Ft
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openHouses()">Explore >></button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Bungalows</mat-card-title>
        <mat-card-subtitle>The Valley by Essem18</mat-card-subtitle>
        <mat-card-subtitle class="icon"><i class="fa-solid fa-location-dot"></i>Kanakapura Road, Bangalore</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="../../assets/bungalow.png" alt="villa" height="300px" width="300px">
      </mat-card-content>
      <mat-card-content>
        <br>1.94 Cr<br>
      3 BHK<br>
      1500 Sq.Ft
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openBungalows()">Explore >></button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Flats</mat-card-title>
        <mat-card-subtitle>Honey Tree Flats</mat-card-subtitle>
        <mat-card-subtitle class="icon"><i class="fa-solid fa-location-dot"></i>Marathahalli, Bangalore</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="../../assets/flat.png" alt="flat" height="300px" width="300px">
      </mat-card-content>
      <mat-card-content>
        <br>4 L<br>
        3 BHK<br>
        12500 Sq.Ft
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openFlats()">Explore >></button>
      </mat-card-actions>
    </mat-card>
  
   <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Plots</mat-card-title>
        <mat-card-subtitle>Land for sale</mat-card-subtitle>
        <mat-card-subtitle class="icon"><i class="fa-solid fa-location-dot"></i>Kartik Nagar, Bangalore</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="../../assets/plot.png" alt="Land" height="300px" width="300px">
      </mat-card-content>
      <mat-card-content>
        <br>
        <br>5.89 Cr<br>
        15500 Sq.Ft
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openPlots()">Explore >></button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  <app-basicservices></app-basicservices>