<!-- <app-header></app-header>
<app-navbar></app-navbar>
<app-dashboard></app-dashboard>
<app-propertycards></app-propertycards>
<router-outlet></router-outlet> -->


<!-- <app-footer></app-footer> -->
<!--<div class="booking-button">-->
<!--  <button mat-raised-button color="primary" (click) = "openAddForm()"> -->
<!--    Book Now-->
<!--  </button>-->
<!--</div>-->


<!--<app-header></app-header>-->
<!--<div class="booking-button">-->
<!--  <button mat-raised-button color="primary" (click) = "openAddForm()">-->
<!--    Book Now-->
<!--  </button>-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->
<!--<app-footer></app-footer>-->


<!-- <div class="booking-button">
  <button mat-raised-button color="primary" (click) = "openAddForm()"> 
    Book Now
  </button>
</div> -->

<!-- <app-payment></app-payment> -->

<app-header></app-header>
<app-menu-bar></app-menu-bar>
<router-outlet></router-outlet>
<app-footer></app-footer> 
