.menu-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* background-color: white;  */
  background-color: #f2f2f2;
}

.menu-options {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 10px;
}

.menu-options button {
  font-size: 16px;
  margin-right: 10px;
}

.menu-options button:hover{
  color: white;
  background-color: #3BBF44;
}

.custom-menu-item:hover {
  color: white;
  background-color: #3BBF44 !important;
}

.cart-chat-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:10px;
  margin: 0 10px;
  padding: 0 10px;
}

.cart-chat-button button {
  color: white;
  background-color: black;
}

.cart-chat-button button:hover{
  color: black;
  background-color: #3BBF44;
}

@media screen and (max-width:768px) {

  .menu-options button {
    font-size: 14px;
    margin-right: 10px;
  }

  .menu-options {
    margin: 0 5px;
  }

  .cart-chat-button {
    margin: 0 5px;
  }

  .cart-chat-button button {
    font-size: 12px;
  }
}
